<div class="container-fluid p-3 m-0">
    <div class="d-flex row p-3 m-3 flex-wrap align-items-center justify-content-center align-content-center second">
        <div *ngIf="!opciones.edit && !opciones.add" class="position-relative col-12 p-0 m-0">
            <h2>{{nombreEmpresa}}</h2>
            <h3>{{puestoTrabajo}}</h3>
<!--                <h3>{{fechaInicio}}-{{fechaFin}}</h3>-->
            <p>{{descripcion}}</p>
            <button *ngIf="!opciones.edit && opciones.admin" (click)="mostrar()" class="edit p-0 m-2 second position-absolute ubicacion0"><i class="bi-three-dots-vertical"></i></button>
            <div *ngIf="opciones.mostrar">
                <button *ngIf="!opciones.edit" (click)="edit()" class="edit second ubicacion1 p-0 m-2 position-absolute"><i class="bi bi-pencil"></i></button>
<!--                    <button *ngIf="!opciones.edit" (click)="eliminar()" class="edit second ubicacion2 p-0 m-2 position-absolute"><i class="bi bi-trash"></i></button>-->
            </div>
        </div>
        <div *ngIf="opciones.edit && !opciones.add" class="second col-12 p-3 m-3 position-relative">
            <form [formGroup]="formCarga"(ngSubmit)="submitEdit(0)">
                <input formControlName="nombreEmpresa" class="second text-center input-h2 m-2 p-2 col-12" type="text" [placeholder]="nombreEmpresa">
                <input formControlName="puestoTrabajo" class="second text-center input-h2 m-2 p-2 col-12" type="text" [placeholder]="puestoTrabajo">
                <input formControlName="fechaInicio" class="second text-center input-h2 m-0 p-2 col-6" type="text" [placeholder]="fechaInicio">
                <input formControlName="fechaFin" class="second text-center input-h2 m-0 p-2 col-6" type="text" [placeholder]="fechaFin">
                <input formControlName="descripcion" class="second text-center input-h2 m-2 p-2 col-12" type="text" [placeholder]="descripcion">
                <button class="edit ubicacion0 second p-0 m-2 position-absolute" (click)="opciones.botonEdit()"><i class="bi bi-arrow-left"></i></button>
                <button type="submit" class="edit ubicacion1 second  p-0 m-2 position-absolute"><i class="bi-check-lg"></i></button>
            </form>
        </div>
    </div>
<!--        <button *ngIf="!opciones.add && opciones.admin && !opciones.edit" (click)="opciones.botonAdd()" class="add w p-3 m-3 second"><i class="bi-plus-circle size-icon"></i></button>
        <div *ngIf="opciones.add && !opciones.edit" class="p-2 m-2 flex-wrap d-flex align-items-center justify-content-center align-content-center second position-relative">
            <form [formGroup]="formCarga"(ngSubmit)="submitNew()">
                <input formControlName="nombreEmpresa" class="second text-center input-h2 m-2 p-2 col-12" type="text">
                <input formControlName="puestoTrabajo" class="second text-center input-h2 m-2 p-2 col-12" type="text">
                <input formControlName="fechaInicio" class="second text-center input-h2 m-2 p-2 col-12" type="text">
                <input formControlName="fechaFin" class="second text-center input-h2 m-2 p-2 col-12" type="text">
                <input formControlName="descripcion" class="second text-center input-h2 m-2 p-2 col-12" type="text">
                <button class="edit ubicacion0 second p-0 m-2 position-absolute" (click)="opciones.botonAdd()"><i class="bi bi-arrow-left"></i></button>
                <button type="submit" class="edit ubicacion1 second  p-0 m-2 position-absolute"><i class="bi-check-lg"></i></button>
            </form>
        </div>-->
</div>