<app-head [titulo]="titulo"></app-head>
<app-barra></app-barra>

<div class="container-fluid">
    <div class="second p-3 m-4 row">
        <form (ngSubmit)="submitMensaje()" [formGroup]="formCarga" class="row d-flex flex-wrap align-content-center align-items-center justify-content-center text-center">
            <label for="nombre"></label><br>
            <input formControlName="nombre" class="col-4" type="text" id="nombre" name="n ombre" placeholder="nombre" required="true" maxlength="15"><br>
            <label for="apellido"></label><br>
            <input formControlName="apellido" class="col-4" type="text" id="apellido" name="apellido" placeholder="apellido" maxlength="15"><br>
            <label for="correo"></label><br>
            <input formControlName="correo" class="col-4" type="email" id="correo" name="correo" placeholder="correo" required="true" maxlength="30"><br>
            <label for="celular"></label><br>
            <input formControlName="celular" class="col-4" type="tel" id="celular" name="celular" placeholder="celular"maxlength="15"><br>
            <label for="mensaje"></label><br>
            <textarea formControlName="mensaje" class="col-4 m-auto" name="mensaje" id="mensaje" cols="23" rows="3" placeholder="mensaje" required="true"></textarea><br>
            <label for="button"></label>
            <button  class="p-0 m-3" type="submit" title="enviar" name="enviar" id="button">Enviar</button>
        </form>
    </div>
</div>