<app-head [titulo]="titulo"></app-head>
<app-barra></app-barra>

<div class="container-fluid">
    <div class="d-flex row m-3 p-3 flex-wrap align-items-center justify-content-center align-content-center" id="educacion">
        <div class="second col-12 m-3 p-3 position-relative" *ngIf="!opciones.edit && !opciones.add">
            <h2>{{nombreUniversidad}}</h2>
            <p>{{nombreCarrera}}</p>
            <p>{{fechaInicio}}-{{fechaFin}}</p>
            <p>historial academico <a [href]="historialAcademico">aqui</a></p>
            <button *ngIf="!opciones.edit && opciones.admin" (click)="mostrar('universidad')" class="edit p-0 m-2 second position-absolute ubicacion0"><i class="bi-three-dots-vertical"></i></button>
            <div *ngIf="opciones.mostrar && id =='universidad'">
                <button *ngIf="!opciones.edit" (click)="botonEdit('universidad')" class="edit second ubicacion1 p-0 m-2 position-absolute"><i class="bi bi-pencil"></i></button>
            </div>
        </div>
        <form [formGroup]="formUniversidad"(ngSubmit)="submitEditU()" class="position-relative second col-12 p-3"*ngIf="opciones.edit&&id =='universidad' && !opciones.add">
            <input formControlName="nombreUniversidad" class="second input-h2 m-2 p-2 col-11" type="text" [placeholder]="nombreUniversidad">
            <input formControlName="nombreCarrera" class="second input-h2 m-2 p-2 col-11" type="text" [placeholder]="nombreCarrera" >
            <input formControlName="fechaInicio" class="second input-h2 p-2 m-2 col-11" type="text" [placeholder]="fechaInicio">
            <input formControlName="fechaFin" class="second input-h2 p-2 m-2 col-11" type="text" [placeholder]="fechaFin">
            <input formControlName="historialAcademico" class="second input-h2 m-2 p-2 col-11" type="text" [placeholder]="historialAcademico">
            <button class="edit ubicacion0 second p-0 m-2 position-absolute" (click)="opciones.botonEdit()"><i class="bi bi-arrow-left"></i></button>
            <button type="submit" class="edit ubicacion1 second  p-0 m-2 position-absolute" ><i class="bi-check-lg"></i></button>
        </form>
        <div *ngFor="let element of cursos;let indice=index" class="m-0 p-0">
            <div *ngIf="!opciones.edit && !opciones.add" class="second col-12 margen-2 p-3 position-relative"  id="indice">
                <h3>{{element.nombreCurso}}</h3>
                <p>Acceder al certificado del curso<a [href]="element.urlCertificado">Aqui</a></p>
                <p>Acceder al contenido del curso<a [href]="element.urlContenido">Aqui</a></p>
                <button *ngIf="!opciones.edit && opciones.admin" (click)="mostrar('cursos'+indice)" class="edit p-0 m-2 second position-absolute ubicacion0"><i class="bi-three-dots-vertical"></i></button>
                <div *ngIf="opciones.mostrar && id=='cursos'+indice">
                    <button *ngIf="!opciones.edit" (click)="edit('cursos'+indice)" class="edit second ubicacion1 p-0 m-2 position-absolute"><i class="bi bi-pencil"></i></button>
                    <button *ngIf="!opciones.edit" (click)="eliminar(indice)" class="edit second ubicacion2 p-0 m-2 position-absolute"><i class="bi bi-trash"></i></button>
                </div>
            </div>
            <div class="position-relative second col-12 margen-2 p-3" *ngIf="opciones.edit && id=='cursos'+indice && !opciones.add">
                <form [formGroup]="formCurso"(ngSubmit)="submitEditC(indice)">
                    <input formControlName="nombreCurso" class="second input-h2 m-2 p-2 col-11" type="text" [placeholder]="element.nombreCurso">
                    <input formControlName="urlCertificado" class="second input-h2 m-2 p-2 col-11" type="text" [placeholder]="element.urlCertificado">
                    <input formControlName="urlContenido" class="second input-h2 m-2 p-2 col-11" type="text" [placeholder]="element.urlContenido">
                    <button class="edit ubicacion0 second p-0 m-2 position-absolute" (click)="opciones.botonEdit()"><i  class="bi bi-arrow-left"></i></button>
                    <button type="submit" class="edit ubicacion1 second  p-0 m-2 position-absolute"><i class="bi-check-lg"></i></button>
                </form>
            </div>
        </div>
        <button *ngIf="!opciones.add && opciones.admin && !opciones.edit" (click)="opciones.botonAdd()" class="add p-3 m-3 second"><i class="bi-plus-circle size-icon"></i></button>
        <div *ngIf="opciones.add && !opciones.edit" class="p-2 m-2 flex-wrap d-flex align-items-center justify-content-center align-content-center second position-relative">
            <form [formGroup]="formCurso"(ngSubmit)="submitNewC()">
                <input formControlName="nombreCurso" type="text" class="col-11 input-h2 m-2 p-2 second" placeholder="titulo del curso"><br>
                <input formControlName="urlCertificado" type="text" class="col-11 input-h2 m-2 p-2 second" placeholder="Certificado del curso"><br>
                <input formControlName="urlContenido" type="text" class="col-11 input-h2 m-2 p-2 second" placeholder="Contenido del curso"><br>
                <button class="edit ubicacion0 second p-0 m-2 position-absolute" (click)="opciones.botonAdd()"><i class="bi bi-arrow-left"></i></button>
                <button type="submit" class="edit ubicacion1 second  p-0 m-2 position-absolute"><i class="bi-check-lg"></i></button>
            </form>
        </div>
    </div>
</div>