<div class="container-fluid p-3 m-0">
    <div *ngFor="let element of proyectos;let indice=index" class="second d-flex row align-content-center align-items-center justify-content-center m-3 p-3">
        <div *ngIf="!opciones.edit && !opciones.add" class="col-12 position-relative p-0 m-0 d-flex row align-content-center align-items-center justify-content-center">
            <h2 class="text-center col-12">{{element.nombreProyecto}} </h2><br>
            <a class="col-6 p-2 m-2 size" *ngIf="element.urlFoto && element.urlPagina" [href]="element.urlPagina"><img class="size" [src]="element.urlFoto"></a>
            <div class="col-5 p-2 m-2 info" *ngIf="element.urlFoto && element.urlPagina">
                <a [href]="element.urlProyectos" target="_blank"><strong>Repositorio aqui</strong></a><br>
                <p>{{element.descripcion}}</p>
            </div>
            <div class="col-12 p-3 m-2" *ngIf="!element.urlFoto && !element.urlPagina">
                <a [href]="element.urlProyectos" target="_blank"><p class="text-center"><strong>Repositorio aqui</strong></p></a><br>
                <p>{{element.descripcion}}</p>
            </div>
            <button *ngIf="!opciones.edit && opciones.admin" (click)="mostrar(indice)" class="edit p-0 m-2 second position-absolute ubicacion0"><i class="bi-three-dots-vertical"></i></button>
            <div *ngIf="opciones.mostrar && id==indice">
                <button *ngIf="!opciones.edit" (click)="edit(indice)" class="edit second ubicacion1 p-0 m-2 position-absolute"><i class="bi bi-pencil"></i></button>
                <button *ngIf="!opciones.edit" (click)="eliminar(indice)" class="edit second ubicacion2 p-0 m-2 position-absolute"><i class="bi bi-trash"></i></button>
            </div>
        </div>
        <form [formGroup]="formCarga" (ngSubmit)="submitEdit(indice)" *ngIf="opciones.edit && !opciones.add && id==indice" class="flex-wrap d-flex align-items-center justify-content-center align-content-center position-relative second col-12 m-2 p-2">
            <input formControlName="nombreProyecto"class="second input-h2 m-2 p-2 col-11" type="text" [placeholder]="element.nombreProyecto" >
            <input formControlName="urlProyecto" class="second input-h2 m-2 p-2 col-11" type="text" [placeholder]="element.urlProyectos">
            <input formControlName="urlFoto" class="second input-h2 m-2 p-2 col-11" type="text" [placeholder]="element.urlFoto">
            <input formControlName="urlPagina" class="second input-h2 m-2 p-2 col-11" type="text" [placeholder]="element.urlPagina">
            <textarea formControlName="descripcion" class="second col-11 m-2 p-2" name="text" cols="0" rows="5"[placeholder]="element.descripcion"></textarea>
            <button class="edit ubicacion0 second p-0 m-2 position-absolute" (click)="opciones.botonEdit()"><i  class="bi bi-arrow-left"></i></button>
            <button type="submit" class="edit ubicacion1 second  p-0 m-2 position-absolute"><i class="bi-check-lg"></i></button>
        </form>
    </div>
    <button *ngIf="!opciones.add && opciones.admin && !opciones.edit" (click)="opciones.botonAdd()" class="add p-3 m-3 second"><i class="bi-plus-circle size-icon"></i></button>
    <div *ngIf="opciones.add && !opciones.edit" class="p-2 m-2 flex-wrap d-flex align-items-center justify-content-center align-content-center second position-relative">
        <h2 class="col-12 text-center">Añadir nuevo proyecto:</h2>
        <form [formGroup]="formCarga" (ngSubmit)="submitNew()">
            <input formControlName="nombreProyecto" class="second text-center input-h2 m-2 p-2 col-12" type="text" placeholder="titulo">
            <input formControlName="urlProyecto" class="second text-center input-h2 m-2 p-2 col-12" type="text" placeholder="git">
            <input formControlName="urlFoto" class="second input-h2 m-2 p-2 col-11" type="text" placeholder="url foto">
            <input formControlName="urlPagina" class="second input-h2 m-2 p-2 col-11" type="text" placeholder="url pagina">
            <textarea formControlName="descripcion" class="second text-center m-2 p-2 col-12" name="text" cols="0" rows="5" placeholder="texto"></textarea>
            <button class="edit ubicacion0 second p-0 m-2 position-absolute" (click)="opciones.botonAdd()"><i class="bi bi-arrow-left"></i></button>
            <button type="submit" class="edit ubicacion1 second  p-0 m-2 position-absolute"><i class="bi-check-lg"></i></button>
        </form>
    </div>
</div>