<div class="head-light container-fluid row col-12 d-flex flex-wrap align-content-center align-items-center justify-content-center m-0">
  <h1 class="text-uppercase text-center p-1">{{titulo}}</h1>
</div>

<div class="container-fluid">
  <div class="d-flex row m-3 p-3 flex-wrap align-items-center justify-content-center align-content-center" id="misHabilidades">
    <div *ngFor="let element of habilidades;let indice=index" class="second col-12 m-2 p-2 ">
      <div *ngIf="!opciones.edit" class="position-relative m-2 p-0" >
        <p class="position-absolute nombre">{{element.lenguaje}}</p>
        <p class="position-absolute porcentaje">{{element.porcentaje}}%</p>
        <br><br>
        <div class="barra position-absolute">
          <div [style]="dataStyle(indice)" class="position-absolute relleno"></div>
        </div>
        <button (click)="opciones.botonOpciones()" *ngIf="!opciones.edit" class="edit p-0 m-2 second position-absolute ubicacion0"><i class="bi-three-dots-vertical"></i></button>
        <div *ngIf="opciones.mostrar">
          <button *ngIf="!opciones.edit" (click)="opciones.botonEdit()" class="edit second ubicacion1 p-0 m-2 position-absolute"><i class="bi bi-pencil"></i></button>
          <button *ngIf="opciones.edit" (click)="opciones.botonEdit()" class="edit ubicacion0 second p-0 m-2 position-absolute"><i class="bi bi-arrow-left"></i></button>
          <button *ngIf="opciones.edit" class="edit ubicacion1 second  p-0 m-2 position-absolute"><i class="bi-check-lg"></i></button>
        </div>
      </div>
      <div *ngIf="opciones.edit" class="flex-wrap d-flex align-items-center justify-content-center align-content-center position-relative">
        <form [formGroup]="formCarga">
          <input formControlName="lenguaje" class="second text-center input-h2 m-2 p-2 col-10" type="text"[placeholder]="element.lenguaje"><br>
          <input formControlName="porcentaje" class="second text-center input-h2 m-2 p-2 col-10" type="text"[placeholder]="element.porcentaje"><br>
          <button class="edit ubicacion0 second p-0 m-2 position-absolute" (click)="opciones.botonEdit()"><i class="bi bi-arrow-left"></i></button>
          <button class="edit ubicacion1 second  p-0 m-2 position-absolute"><i class="bi-check-lg"></i></button>
        </form>
      </div>
    </div>
    <button *ngIf="!opciones.add" (click)="opciones.botonAdd()" class="add p-3 m-3 second"><i class="bi-plus-circle size-icon"></i></button>
    <div *ngIf="opciones.add" class="p-2 m-2 flex-wrap d-flex align-items-center justify-content-center align-content-center second position-relative">
      <h2 class="col-12 text-center">Añadir nuevo lenguaje de programacion:</h2>
      <form [formGroup]="formCarga">
        <input formControlName="lenguaje" class="second text-center input-h2 m-2 p-2 col-10" type="text" placeholder="lenguaje:"><br>
        <input formControlName="porcentaje" class="second text-center input-h2 m-2 p-2 col-10" type="text" placeholder="porcentaje:"><br>
        <button class="edit ubicacion0 second p-0 m-2 position-absolute" (click)="opciones.botonAdd()"><i class="bi bi-arrow-left"></i></button>
        <button class="edit ubicacion1 second  p-0 m-2 position-absolute"><i class="bi-check-lg"></i></button>
      </form>
    </div>
  </div>
</div>