<div class="menu-light position-fixed bottom-0 top-0 menu p-0 text-center zi-10">
    <div class="d-inline-block">
        <a routerLink="/sobremi">
            <i class="bi bi-person-circle"></i>
        </a>
        <span class="zi-10 position-absolute rounded p-1">Sobre mi</span>
    </div>
    <br>
    <div class="d-inline-block">
        <a routerLink="/experiencia">
            <i class="bi bi-file-earmark-text"></i>
        </a>
        <span class="position-absolute rounded p-1">experiencia</span>
    </div>
    <br>
    <div class="d-inline-block">
        <a routerLink="/educacion">
            <i class="bi bi-mortarboard"></i>
        </a>
        <span class="position-absolute rounded p-1">educacion</span>
    </div>
    <br>
    <div class="d-inline-block">
        <a routerLink="/habilidades">
            <i class="bi bi-lightbulb"></i>
        </a>
        <span class="position-absolute rounded p-1">habilidades</span>
    </div>
    <br>
    <div class="d-inline-block">
        <a routerLink="/proyectos">
            <i class="bi bi-github"></i>
        </a>
        <span class="position-absolute rounded p-1">proyectos</span>
    </div>
    <br>
    <div class="d-inline-block">
        <a routerLink="/contactame">
            <i class="bi bi-envelope-open"></i>
        </a>
        <span class="position-absolute rounded p-1">contactame</span>
    </div>
    <br>
    <div class="bottom-0 position-absolute ">
        <a [href]="facebook" target="_blank"><i class="bi bi-facebook"></i></a><br>
        <a [href]="linkedin" target="_blank"><i class="bi bi-linkedin"></i></a><br>
        <a [href]="instagram" target="_blank"><i class="bi bi-instagram"></i></a><br>
    </div>
    <br>
</div>
